version: '2'

services:
  mc-debug:
    image: itzg/minecraft-server@sha256:e5b9b0664aff479fcf83132dc9d5d6fcca6d2544dc7c88cf87615b17ef064531
    container_name: mc-debug
    ports:
      - 25565:25565
    volumes:
      - ./mc-debug:/data
    environment:
      - EULA=TRUE
      - ONLINE_MODE=FALSE
      - TYPE=PAPER
