version: '2'

services:
  mc-debug:
    image: itzg/minecraft-server@sha256:ce85f17eeed3d24ca395cdedaa75b8532c3ec21dbc56912ed8955c35b572e684
    container_name: mc-debug
    ports:
      - 25565:25565
    volumes:
      - ./mc-debug:/data
    environment:
      - EULA=TRUE
      - ONLINE_MODE=FALSE
      - TYPE=PAPER
