version: '2'

services:
  mc-debug:
    image: itzg/minecraft-server@sha256:68b810ff87e057f19e319c74975f3351002303d5d710f9269c2538025fcde74f
    container_name: mc-debug
    ports:
      - 25565:25565
    volumes:
      - ./mc-debug:/data
    environment:
      - EULA=TRUE
      - ONLINE_MODE=FALSE
      - TYPE=PAPER
